.task-list-item-container {
  margin-top: 10px;
  .header-container {
    width: 100%;

    .due-date-container {
      margin-right: 30px;

      .due-date-value {
        font-size: 12px;
        color: #666;
        margin-left: 10px;
        margin-top: 1px;
      }

      .due-date-date-picker {
        margin-left: 10px;
        mat-icon {
          font-size: 16px;
        }
      }
    }
  }
}
