<div class="task-list-item-container" *ngIf="task">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="header-container" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- title -->
        <div class="title-container" fxLayout="row" fxLayoutAlign="start center">
          <mat-checkbox [(ngModel)]="task.isDone"
                        (mouseup)="$event.stopPropagation()"
                        (click)="$event.stopPropagation()">
          </mat-checkbox>

          <tm-task-title [title]="task.title"
                         [isEditable]="editable"
                         (inputClick)="onInputClick()"
                         (focusLost)="onFocusLost()"
                         [done]="task.isDone">
          </tm-task-title>
        </div>

        <!-- due date  -->
        <div class="due-date-container" fxLayout="row" fxLayoutAlign="center center">
          <div class="due-date-value" *ngIf="task.dueDate">
            <div>Due: {{task.dueDate | tmDateFormat}}</div>
            <mat-icon (click)="removeDueDate()">close</mat-icon>
          </div>
          <div class="due-date-date-picker">
            <ngx-mat-datetime-picker #picker [defaultTime]="[11, 59, 59]"
                                     [enableMeridian]="true" [hideTime]="true"></ngx-mat-datetime-picker>
            <mat-datepicker-toggle matSuffix [for]="$any(picker)">
              <mat-icon matDatepickerToggleIcon color="primary">event_available</mat-icon>
            </mat-datepicker-toggle>
            <!--suppress TypeScriptValidateTypes -->
            <input style="height:0; width: 0; border: 0; padding: 0; margin: 0;"
                   [ngxMatDatetimePicker]="picker" (dateChange)="onDateSelect($event)">
          </div>
        </div>

        <!-- action toolbar -->
        <div class="action-toolbar">
          <mat-icon color="primary" (click)="onEditClick($event)" (keydown)="$event.stopPropagation()"
                    (mouseup)="$event.stopPropagation()">edit
          </mat-icon>
          <mat-icon color="warn" (click)="onDelete()">delete</mat-icon>
        </div>
      </div>

    </mat-expansion-panel-header>
    <mat-panel-description>
      <tm-task-description
        [description]="task.description || ''"
        [taskId]="task.id">
      </tm-task-description>
    </mat-panel-description>
  </mat-expansion-panel>
</div>
