.title-container {
  display: flex;
  flex-grow: 1;
  .non-editable {
    mat-icon {
      margin-top: 5px;
      font-size: 16px;
    }

    .title-text {
      cursor: text;
    }


    .title-text.done {
      text-decoration: 1px line-through #999999;
    }
  }

  .editable {
    margin: 0 10px;
    display: flex;
    flex-grow: 1;
    input {
      flex-grow: 1;
      font-size: 15px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
