<div class="title-container">
  <div class="title" *ngIf="isEditable; then editableTitle else nonEditableTitle"></div>
</div>

<ng-template #editableTitle>
  <div class="editable">
    <input #input [(ngModel)]="title"
           (keydown)="$event.stopPropagation()"
           (mouseup)="$event.stopPropagation()"
           (click)="$event.stopPropagation()">
  </div>
</ng-template>

<ng-template #nonEditableTitle>
  <div class="non-editable" fxLayout="row" fxLayoutAlign="start center"
       (mousedown)="onNonEditableTitleClick()">
    <div class="title-text" [ngClass]="{done: done}">{{title}}</div>
  </div>
</ng-template>
